--swiftversion 5.3
--exclude .claude
--wraparguments before-first
--wrapparameters before-first
--enable isEmpty
--disable          \
    sortedImports, \
    sortedSwitchCases, \
    trailingCommas, \
    wrapMultilineStatementBraces
