<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
    <string>ad-hoc</string>
    <key>teamID</key>
    <string>27GUNVKXNM</string>
    <key>signingCertificate</key>
      <string>iOS Distribution</string>
      <key>signingStyle</key>
      <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>io.nova.novawallet.dev</key>
        <string>nova-wallet-dev</string>
    </dict>
</dict>
</plist>