name: Codecov report

on:
  workflow_dispatch
  # push:
  #   branches: [ develop ]

jobs:
  build:
    runs-on: macos-11
    steps:
      - uses: maxim-lobanov/setup-xcode@master
        with:
          xcode-version: '13.0'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Cocoapods
        id: cache-cocoapods
        uses: actions/cache@v4
        with:
          path: Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Cocoapods
        run: pod install --repo-update

      - name: Test
        env:
          scheme: ${{ 'default' }}
          platform: ${{ 'iOS Simulator' }}
          device: ${{ 'iPhone 14' }}
          os_version: ${{ '15.2' }}
        run: set -o pipefail && xcodebuild test -workspace novawallet.xcworkspace -scheme novawallet -destination "platform=$platform,name=$device,OS=$os_version" build test | xcpretty --test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
