# name: Codecov report

# on:
#   push:
#     branches: [ develop ]

# jobs:
#   build:
#     runs-on: macos-11
#     steps:
#       - uses: maxim-lobanov/setup-xcode@v1
#         with:
#           xcode-version: '13.0'

#       - name: Checkout
#         uses: actions/checkout@v2

#       - name: Cache Cocoapods
#         id: cache-cocoapods
#         uses: actions/cache@v2
#         with:
#           path: Pods
#           key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
#           restore-keys: |
#             ${{ runner.os }}-pods-

#       - name: Install Cocoapods
#         if: steps.cache-cocoapods.outputs.cache-hit != 'true'
#         run: pod install --repo-update

#       - name: Test
#         env:
#           scheme: ${{ 'default' }}
#           platform: ${{ 'iOS Simulator' }}
#           device: ${{ 'iPhone 11' }}
#           os_version: ${{ '15.0' }}
#         run: set -o pipefail && xcodebuild test -workspace fearless.xcworkspace -scheme fearless -destination "platform=$platform,name=$device,OS=$os_version" build test | xcpretty --test

#       - name: Upload coverage to Codecov
#         uses: codecov/codecov-action@v2
#         with:
#           token: ${{ secrets.CODECOV_TOKEN }}
