name: Codecov report

on:
  workflow_dispatch
  # push:
  #   branches: [ develop ]

env:
  xcode-version: "16.0"

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup iOS Environment
        uses: ./.github/actions/install
        with:
          xcode-version: ${{ env.xcode-version }}
          scw_access_key: ${{ secrets.SCW_ACCESS_KEY }}
          scw_secret_key: ${{ secrets.SCW_SECRET_KEY }}
          scw_default_project_id: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
          scw_default_organization_id: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}

      - name: Test
        env:
          scheme: ${{ 'default' }}
          platform: ${{ 'iOS Simulator' }}
          device: ${{ 'iPhone 14' }}
          os_version: ${{ '15.2' }}
        run: set -o pipefail && xcodebuild test -workspace novawallet.xcworkspace -scheme novawallet -destination "platform=$platform,name=$device,OS=$os_version" build test | xcpretty --test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
