name: Build and Test on PR

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

env:
  XCODE_VERSION: '16.4'
  BUILD_NUMBER: ${{ github.run_number }}

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      
      - name: Setup iOS Environment
        uses: ./.github/actions/install
        with:
          xcode-version: ${{ env.XCODE_VERSION }}
          scw_access_key: ${{ secrets.SCW_ACCESS_KEY }}
          scw_secret_key: ${{ secrets.SCW_SECRET_KEY }}
          scw_default_project_id: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
          scw_default_organization_id: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}

      - name: Push Notifications Setup
        env:
          GOOGLE_SERVICE_INFO: ${{ env.GOOGLE_DEV_SERVICE_FILE_CONTENT }}
        run: |
          GOOGLE_SERVICE_PATH=./novawallet/GoogleService-Info-Dev.plist

          echo "$GOOGLE_SERVICE_INFO" > $GOOGLE_SERVICE_PATH

      - name: Build app
        run: |
          bundle exec fastlane build_app_ci
  
      - name: Run tests
        run: |
          bundle exec fastlane run_unit_tests
