name: Distribute to Firebase

on:
  push:
    branches: 
      - 'develop'

env:
  IOS_BUNDLE_ID: "io.novafoundation.novawallet.dev"
  IOS_EXTENSION_BUNDLE_ID: "io.novafoundation.novawallet.dev.NovaPushNotificationServiceExtension"
  PROVISIONING_PROFILE_SPECIFIER: "match AdHoc io.novafoundation.novawallet.dev"
  EXTENSION_PROVISIONING_PROFILE_SPECIFIER: "match AdHoc io.novafoundation.novawallet.dev.NovaPushNotificationServiceExtension"
  CODE_SIGN_IDENTITY: "Apple Distribution"
  EXPORT_METHOD: "ad-hoc"
  FASTLANE_CONFIGURATION: "Dev"
  BUILD_NUMBER: ${{ github.run_number }}
  FIREBASE_GROUPS: dev-team
  RELEASE_NOTES: ${{ github.event.head_commit.message }}
  RUN_IN_CI: true

jobs:
  build:
    name: Build and upload to Firebase
    runs-on: macos-26

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup iOS Environment
        uses: ./.github/actions/install
        with:
          scw_access_key: ${{ secrets.SCW_ACCESS_KEY }}
          scw_secret_key: ${{ secrets.SCW_SECRET_KEY }}
          scw_default_project_id: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
          scw_default_organization_id: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}

      - name: Update build number
        env:
          PBXPROJ_PATH: novawallet.xcodeproj/project.pbxproj
        run: |
          set -euo pipefail

          echo "Setting build number to ${{ env.BUILD_NUMBER }} in Dev configuration..."
          python3 .github/scripts/update_build_number.py "${PBXPROJ_PATH}" \
            --config-name "Dev" \
            --build-number ${{ env.BUILD_NUMBER }}

      - name: Distribute to Firebase via fastlane
        run: bundle exec fastlane distribute_app_to_firebase release_notes:"${{ env.RELEASE_NOTES }}"
